<ul class="choices no-bullet">
{{#each choices}}
	<li>
		<textarea class="form-control choice" name="choice[{{../type}}][{{../question_index}}][]" rows="3"  placeholder="{{.}}"></textarea>
		<button type="button" class="btn btn-xs use-answer">use as answer</button>
	</li>
{{/each}}
</ul>